{% extends "ciclovia/base.html" %}

{% comment %}
	Para la codificación en PyCharm
	<head>
		<meta charset="UTF-8">
	</head>
{% endcomment %}

{% block content %}

	<div class="container theme-showcase" role="main">
		<div class="page-header">
			<h1>Parámetros de la simulación</h1>
		</div>
		<div class="row">
			<div class="col-md-5">
				<table class="table table-striped">
					<thead>
						<tr>
							<th align="center">Número de réplicas</th>
							<th align="center">Distribución tiempo entre arribos</th>
						</tr>
					</thead>
					<tbody>
						{% for sim in simulation_list %}
							<tr>
								<td align="center">{{sim.replications}}</td>
								<td align="center">{{sim.arrivals_probability_distribution}}</td>
							</tr>
						{% empty %}
							<tr><td colspan="2"><p class="alert alert-info">No se han definido parámetros.</p></td></tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% comment %}
			<!-- No se ha incluido el manejo de los parámetros de simulación en ninguna vista -->
			<div class="col-md-offset-3 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Establecer parámetros Simulacion</h3>
					</div>
					<div class="panel-body">
						En esta sección se pueden cargar los parámetros con los que va a correr la simulación.
						<p><a href="{% url 'CicloviaProgram:' %}" class="btn btn-primary">Cargar &raquo;</a></p>
					</div>
				</div>
			</div>
			{% endcomment %}
		</div>
	</div>

{% endblock content %}             