<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Simulador de la Ciclovía{% endblock title %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
		<link href="{% static 'css/fancybox/jquery.fancybox.css' %}" rel="stylesheet">
		<link href="{% static 'css/jcarousel.css' %}" rel="stylesheet"  />
		<link href="{% static 'css/flexslider.css' %}" rel="stylesheet" />
		<link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
		<link href="{% static 'css/style.css' %}" rel="stylesheet" />
		{% block header %}
		{% endblock header %}
	</head>
	<body>
		<header>
			<nav id="myNavbar" class="navbar navbar-default navbar-static-top" role="navigation">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="{% url 'CicloviaProgram:index' %}"><img src="{% static 'img/logo.png' %}" alt="logo"/></a>
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="navbarCollapse">
						<ul class="nav navbar-nav">
							<li><a href="http://epiandes.uniandes.edu.co/?portfolio=taste-lab" target="_blank">Proyecto</a></li>
							<li><a href ="{% url 'CicloviaProgram:userModels' %}" >Ver Ciclovías</a></li>
							{% comment %}
							<!-- Esta sección no hace nada -->
							<li><a href ="{% url 'CicloviaProgram:adminSimulation' %}" >Ver Parametros Simulación</a></li>
							{% endcomment %}
						{% if user.is_authenticated %}
							<li class="active"><a href="{% url 'CicloviaProgram:user' %}">Bienvenido, {{ user.get_username }}</a></li>
						{% else %}
							<li class="active"><a href="{% url 'CicloviaProgram:newUser' %}">Registrarse</a></li>
							<li class="active"><a href="{% url 'CicloviaProgram:login'%}">Iniciar sesion</a></li>
						{% endif %}
						</ul>
					</div>
				</div>
			</nav>
		</header>
		{% block content %}
		{% endblock content %}
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="widget">
							<span>&copy;Copyright 2015 Proyecto Ciclovía Simulator </span>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<script src="{% static 'js/jquery.js' %}"></script>
		<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
		<script src="{% static 'js/jquery.fancybox-media.js' %}"></script>
		<script src="{% static 'js/portfolio/jquery.quicksand.js' %}"></script>
		<script src="{% static 'js/portfolio/setting.js' %}"></script>
		<script src="{% static 'js/jquery.flexslider.js' %}"></script>
		<script src="{% static 'js/animate.js' %}"></script>
		<script src="{% static 'js/custom.js' %}"></script>
		{% block scripts %}
		{% endblock scripts %}
	</body>
</html> 