{% extends "ciclovia/base.html" %}

{% comment %}
	Para la codificación en PyCharm
	<head>
		<meta charset="UTF-8">
	</head>
{% endcomment %}

{% block content %}
	<div class="container theme-showcase" role="main">
		<div class="page-header">
			<h1>Información detallada</h1>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Detalle ciclovía</h3>
					</div>
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th align="center">Información</th>
									<th align="center">Valor</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td align="center">Nombre</td>
									<td align="center">{{ ciclovia.name }}</td>
								</tr>	
								<tr>
									<td align="center">Lugar</td>
									<td align="center">{{ ciclovia.place }}</td>
								</tr>	
								<tr>
									<td align="center">Horario</td>
									<td align="center">{{ciclovia.start_hour| floatformat:0}}:00 - {{ciclovia.end_hour | floatformat:0}}:00</td>
								</tr>
								<tr>
									<td align="center">Número de trayectos</td>
									<td align="center">{{ ciclovia.num_tracks }}</td>
								</tr>     
								<tr>
									<td align="center">Trayecto de referencia</td>
									<td align="center">{{ ciclovia.reference_track }}</td>
								</tr>   
								<tr>
									<td align="center">Hora de referencia</td>
									<td align="center">{{ ciclovia.reference_hour }}</td>
								</tr>   
								<tr>
									<td align="center">Tasa de arribos de referencia</td>
									<td align="center">{{ ciclovia.reference_arrival_rate }}</td>
								</tr>     
							</tbody>
						</table>					 
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Detalles de los trayectos</h3>
					</div>
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th align="center">#</th>
									<th align="center">Longitud</th>
									<th align="center">Probabilidad inicio</th>
									<th align="center">Probabilidad fin</th>
									<th align="center">Proporción de arribos</th>
									<th align="center">Número de paradas</th>
									<th align="center">Tiene pendiente</th>
									<th align="center">Número de semáforos</th>
									<th align="center">Vecinos</th>
								</tr>
							</thead>
							<tbody>
								{% for track in ciclovia.track_set.all %}
									<tr>
										<td align="center">{{track.id_track}}</td>
										<td align="center">{{track.distance}}</td>
										<td align="center">{{track.probabilityBegin}}</td>
										<td align="center">{{track.probabilityEnd}}</td>
										<td align="center">{{track.arrival_proportion | floatformat:2}}</td>
										<td align="center">{{track.number_of_semaphores}}</td>
										{% if track.hasSlope == 0 %}
											<td align="center">No</td>
										{% elif track.hasSlope == 1 %}
											<td align="center">Media</td>
										{% else %}
											<td align="center">Alta</td>
										{% endif %}
										<td align="center">{{track.quality_of_track}}</td>
										<td align="center"><a href="{% url 'CicloviaProgram:detailNeighboor' ciclovia.id track.id %}">Ver vecinos</a></td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Distribución del tiempo en el sistema</h3>
					</div>
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th align="center">Tiempo</th>
									<th align="center">Porcentaje</th>
									</tr>
							</thead>
							<tbody>
								{% for timeInSystem in ciclovia.timeinsystemdistribution_set.all %}
									<tr>
										<td align="center">{{timeInSystem.time}}</td>
										<td align="center">{{timeInSystem.percentage}}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Proporción de arribos por hora</h3>
					</div>
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th align="center">Hora</th>
									<th align="center">Proporción de arribos</th>
								</tr>
							</thead>
							<tbody>
								{% for arrivalPerHour in ciclovia.arrivalsproportionperhour_set.all %}
									<tr>
										<td align="center">{{arrivalPerHour.hour}}</td>
										<td align="center">{{arrivalPerHour.proportion}}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Detalles de los participantes</h3>
					</div>
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th align="center">Tipo</th>
									<th align="center">Velocidad</th>
									<th align="center">Porcentaje</th>
								</tr>
							</thead>
							<tbody>
								{% for participant in ciclovia.participanttype_set.all %}
									<tr>
										<td align="center">{{participant.activity}}</td>
										<td align="center">{{participant.velocity}}</td>
										<td align="center">{{participant.percentage}}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container theme-showcase" role="main">
		<div class="page-header">
			<h1>Acciones</h1>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Editar información de arribos</h3>
					</div>
					<div class="panel-body">
						<p>En esta seccion se puede editar la información de los arribos.</p>
						<p><a class="btn btn-primary" href="{% url 'CicloviaProgram:editArrivalInfo' ciclovia.id %}">Editar &raquo;</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}          