{% extends "ciclovia/base.html" %}

{% comment %}
	Para la codificación en PyCharm
	<head>
		<meta charset="UTF-8">
	</head>
{% endcomment %}

{% block content %}
	<div class="container theme-showcase" role="main">
		<div class="page-header">
			<h1>Información detallada</h1>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Detalle Ciclovía</h3>
					</div>
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th align="center">Información</th>
									<th align="center">Valor</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td align="center">Nombre</td>
									<td align="center">{{ciclovia.name}}</td>
								</tr>	
								<tr>
									<td align="center">Lugar</td>
									<td align="center">{{ciclovia.place}}</td>
								</tr>	
								<tr>
									<td align="center">Horario</td>
									<td align="center">{{ciclovia.start_hour| floatformat:0}}:00 - {{ciclovia.end_hour | floatformat:0}}:00</td>
								</tr>	
								<tr>
									<td align="center">Número de trayectos</td>
									<td align="center">{{ciclovia.num_tracks}}</td>
								</tr>
								{% if ciclovia.arrivals_loaded %}
									<tr>
										<td align="center">Trayecto de referencia</td>
										<td align="center">{{ciclovia.reference_track}}</td>
									</tr>
									<tr>
										<td align="center">Hora de referencia</td>
										<td align="center">{{ciclovia.reference_hour}}</td>
									</tr>
									<tr>
										<td align="center">Tasa de arribos de referencia</td>
										<td align="center">{{ciclovia.reference_arrival_rate}}</td>
									</tr>
								{% endif %}
							</tbody>
						</table>					 
					</div>
				</div>
			</div>			
			<div class="col-md-8">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Detalle Trayectos</h3>
					</div>
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th align="center">#</th>
									<th align="center">Longitud</th>
									<th align="center">Probabilidad inicio</th>
									<th align="center">Probabilidad fin</th>
									{% if ciclovia.arrivals_loaded %}
										<th align="center">Proporción de arribos</th>
									{% endif %}
									<th align="center">Número de paradas</th>
									<th align="center">Tiene pendiente</th>
									<th align="center">Número de semáforos</th>
									<th align="center">Vecinos</th>
								</tr>
							</thead>
							<tbody>
								{% for track in ciclovia.track_set.all %}
									<tr>
										<td align="center">{{track.id_track}}</td>
										<td align="center">{{track.distance}}</td>
										<td align="center">{{track.probabilityBegin}}</td>
										<td align="center">{{track.probabilityEnd}}</td>
										{% if ciclovia.arrivals_loaded %}
											<td align="center">{{track.arrival_proportion | floatformat:2}}</td>
										{% endif %}
										<td align="center">{{track.number_of_semaphores}}</td>
										{% if track.hasSlope == 0 %}
											<td align="center">No</td>
										{% elif track.hasSlope == 1 %}
											<td align="center">Media</td>
										{% else %}
											<td align="center">Alta</td>
										{% endif %}
										<td align="center">{{track.quality_of_track}}</td>
										<td align="center"><a href="{% url 'CicloviaProgram:detailNeighboor' ciclovia.id track.id %}">Ver vecinos</a></td>
									</tr>
								{% endfor %}
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			{% if ciclovia.arrivals_loaded %}
				<div class="col-md-4">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Ver información de arribos</h3>
						</div>
						<div class="panel-body">
							<p>En esta sección se puede ver la información ingresada de los arribos de la ciclovía.</p>
							<p><a href="{% url 'CicloviaProgram:detailArrival' ciclovia.id %}" class="btn btn-primary">Ver arribos &raquo;</a></p>
						</div>
					</div>
				</div>
			{% else %}
				<div class="col-md-4">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Ingresar información de arribos</h3>
						</div>
						<div class="panel-body">
							<p>En esta sección se puede ingresar la información que se va a utilizar para los arribos de la ciclovía (necesarios para la simulación).</p>
							<p><a href="{% url 'CicloviaProgram:uploadArrivalInfoForm' ciclovia.id %}" class="btn btn-primary">Cargar &raquo;</a></p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Ingresar información de arribos (archivo XML)</h3>
						</div>
						<div class="panel-body">
							<p>En esta sección se puede ingresar la información que se va a utilizar para los arribos de la ciclovía (necesarios para la simulación) por medio de un archivo XML.</p>
							<p><a href="{% url 'CicloviaProgram:uploadArrivalInfo' ciclovia.id %}" class="btn btn-primary">Cargar &raquo;</a></p>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
		<div class="row">
			<img class="img-responsive img-rounded" src="{% url 'CicloviaProgram:graph' %}?ciclovia_id={{ ciclovia.id }}">
		</div>
		<div class="page-header">
			<h1>Acciones</h1>
		</div>
		<div class="row">
			{% if ciclovia.arrivals_loaded %}
				<div class="col-md-4">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Simular</h3>
						</div>
						<div class="panel-body">
							<p>En esta sección se ejecuta la simulación.</p>
							<p><a href="{% url 'CicloviaProgram:simulationResults' ciclovia.id %}" class="btn btn-primary">Ejecutar &raquo;</a></p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Validar</h3>
						</div>
						<div class="panel-body">
							<p>En esta sección se valida la simulación</p>
							<p><a href="{% url 'CicloviaProgram:simulationResultsValidation' ciclovia.id %}" class="btn btn-primary">Validar &raquo;</a></p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Realizar experimentos</h3>
						</div>
						<div class="panel-body">
							<p>En esta sección se pueden agregar/eliminar trayectos (cargando un XML), una vez se tiene el modelo de la ciclovía.</p>
						</div>
					</div>
				</div>
			{% endif %}
		</div>
		<div class="row">
			{% if ciclovia.arrivals_loaded %}
				<div class="col-md-4">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Ver resultados históricos</h3>
						</div>
						<div class="panel-body">
							<p>En esta sección se pueden ver los resultados de la simulación.</p>
							<form action="{% url 'CicloviaProgram:simulationResultsOld' ciclovia.id %}" method="GET">
								{% if resultset %}
									<div class="form-group">
										<select class="form-control" name="results_id">
											{% for result in resultset %}
												<option value="{{ result.id }}">{{ result }}</option>
											{% endfor %}
										</select>
									</div>
									<div class="form-group">
										<input class="btn btn-primary" type="submit" value="Ver resultados &raquo;">
									</div>
								{% else %}
									<p class="text-info"><b>No hay simulaciones</b></p>
								{% endif %}
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Ver resultados históricos validación</h3>
						</div>
						<div class="panel-body">
							<p>En esta sección se pueden ver los resultados de la validación.</p>
							<form action="{% url 'CicloviaProgram:simulationResultsValidationOld' ciclovia.id %}" method="GET">
								{% if resultset2 %}
									<div class="form-group">
										<select class="form-control" name="results_id">
											{% for result in resultset2 %}
												<option value="{{ result.id }}">{{ result }}</option>
											{% endfor %}
										</select>
									</div>
									<div class="form-group">
										<input class="btn btn-primary" type="submit" value="Ver resultados &raquo;">
									</div>
								{% else %}
									<p class="text-info"><b>No hay validaciones</b></p>
								{% endif %}
							</form>
						</div>
					</div>
				</div>
			{% endif %}
			<div class="col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Editar ciclovía</h3>
					</div>
					<div class="panel-body">
						<p>En esta seccion se puede editar la información de la ciclovía y sus trayectos.</p>
						<p><a class="btn btn-primary" href="{% url 'CicloviaProgram:editCiclovia' ciclovia.id %}">Editar &raquo;</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Borrar ciclovía</h3>
					</div>
					<div class="panel-body">
						<p>Para borrar la ciclovía presione el siguiente botón.</p>
						<a class="btn btn-primary" href="{% url 'CicloviaProgram:borrarCiclovia' ciclovia.id %}"
						title="Eliminar ciclovia" onclick="return confirm('¿Seguro que desea borrar la ciclovía?')">
							Borrar ciclovía &raquo;
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}       