{% extends "ciclovia/base.html" %}

{% comment %}
	Para la codificación en PyCharm
	<head>
		<meta charset="UTF-8">
	</head>
{% endcomment %}

{% block content %}

    <div class="container">
        <h1>Reestablecer contraseña</h1>
        {% if validlink %}
            <form method="POST">
                {% csrf_token %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger fade in">
                        <a class="close" data-dismiss="alert">&times;</a>
                        <strong>Error!</strong> {{ error }}
                    </div>
                {% endfor %}
                <div class="form-group">
                    {% for error in form.new_password1.errors %}
                        <p class="text-danger"><strong>Error! </strong>{{error}}</p>
                    {% endfor %}
                    <label class="control-label" for="{{ form.new_password1.id_for_label }}" >Contraseña nueva:</label>
                    <input class="form-control" type="password" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.html_name }}" />
                </div>
                <div class="form-group">
                    {% for error in form.new_password2.errors %}
                        <p class="text-danger"><strong>Error! </strong>{{error}}</p>
                    {% endfor %}
                    <label class="control-label" for="{{ form.new_password2.id_for_label }}" >Repita la contraseña nueva:</label>
                    <input class="form-control" type="password" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.html_name }}" />
                </div>
                    <input class="btn btn-primary" type="submit" value="Reestablecer">
            </form>
        {% else %}
            <div class="alert alert-danger">
                <strong>Error!</strong> El vínculo no es válido. Vuelva a intentar recuperar la contraseña.
            </div>
        {% endif %}
    </div>

{% endblock content %}