{% extends "ciclovia/base.html" %}

{% comment %}
	Para la codificación en PyCharm
	<head>
		<meta charset="UTF-8">
	</head>
{% endcomment %}

{% block content %}

    <div class="container">
        <h1>Restablecer contraseña</h1>
		<form action="{% url 'CicloviaProgram:passwordReset' %}" method="POST">
			{% csrf_token %}
			{% for error in form.non_field_errors %}
				<div class="alert alert-danger fade in">
					<a class="close" data-dismiss="alert">&times;</a>
  					<strong>Error!</strong> {{ error }}
				</div>
			{% endfor %}
			<div class="form-group">
				{% for error in form.email.errors %}
					<p class="text-danger"><strong>Error! </strong>{{error}}</p>
				{% endfor %}
				<label class="control-label" for="{{ form.email.id_for_label }}" >e-mail:</label>
				<input class="form-control" type="email" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" value="{{ form.email.value | default:'' }}" />
			</div>
			<div class="form-group">
				<input class="btn btn-primary" type="submit" value="Restablecer">
			</div>
		</form>
    </div>

{% endblock content %}