{% extends "ciclovia/base.html" %}

{% block content %}
	<div class="container theme-showcase" role="main">
		<div class="page-header">
			<h1>Resultados validación</h1>
	  	</div>

		<div class="row">
			<div class="col-md-8">
		  		<div class="panel panel-primary">
					<div class="panel-heading">
				  		<h3 class="panel-title">Resumen</h3>
					</div>
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th align="center">Fecha</th>
									<th align="center">Número de corridas</th>
									<th align="center">Promedio de arribos totales</th>
									<th align="center">Desviación estándar de arribos totales</th>
									<th align="center">Promedio del número promedio en el sistema</th>
									<th align="center">Desviación estándar del número promedio en el sistema</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td align="center">{{results.date}}</td>
									<td align="center">{{results.num_runs}}</td>
									<td align="center">{{results.avg_total_arrivals}}</td>
									<td align="center">{{results.stdev_total_arrivals}}</td>
									<td align="center">{{results.average_number_system}}</td>
									<td align="center">{{results.stdev_number_system}}</td>
								</tr>
							</tbody>
						</table>
						<table class="table table-striped">
							<thead>
								<tr>
									<th align="center">Trayecto</th>
									<th align="center">Promedio del número promedio en el trayecto</th>
									<th align="center">Desviación estándar del número promedio en el trayecto</th>
									<th align="center">Promedio del flujo en el trayecto</th>
									<th align="center">Desviación estándar del flujo en el trayecto</th>
									<th align="center">Detalle del flujo</th>
								</tr>
							</thead>
							<tbody>
								{%for track in results.simulationresultscompiledpertrack_set.all%}
									<tr>
										<td align="center">{{track.track}}</td>
										<td align="center">{{track.average_number_track}}</td>
										<td align="center">{{track.stdev_number_track}}</td>
										<td align="center">{{track.average_total_flow}}</td>
										<td align="center">{{track.stdev_total_flow}}</td>
										<td align="center"><a href="{% url 'CicloviaProgram:detailTrackValidation' ciclovia.id track.id %}" target="_blank">Ver flujo</a></td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						<table class="table table-striped">
							<thead>
								<tr>
									<th align="center">Fecha</th>
									<th align="center">Tiempo de simulación</th>
									<th align="center">Arribos totales</th>
									<th align="center">Tiempo promedio en el sistema</th>
									<th align="center">Desviación estándar del tiempo poroemdio en el sistema</th>
									<th align="center">Número promedio en el sistema</th>
									<th align="center">Detalles de la corrida</th>
								</tr>
							</thead>
							<tbody>
								{%for run in results.simulationresults_set.all%}
									<tr>
										<td align="center">{{run.date}}</td>
										<td align="center">{{run.sim_time}}</td>
										<td align="center">{{run.total_arrivals}}</td>
										<td align="center">{{run.average_time}}</td>
										<td align="center">{{run.standard_deviation_time}}</td>
										<td align="center">{{run.average_number_system}}</td>
										<td align="center"><a href="{% url 'CicloviaProgram:detailValidationSingleRun' ciclovia.id run.id %}" target="_blank">Ver corrida</a></td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
			  	</div>
			</div>
			<div class="col-md-4">
                <h4>Número promedio de personas por trayecto</h4>
                <p>Seleccione el tipo de gráfico</p>
                <select class="form-control" onchange="changeavgnumbertrack()" id="avgnumbertrackselect">
                    <option disabled selected>Tipo</option>
                    <option value="PIE">Gráfico de torta</option>
                    <option value="BAR">Gráfico de barras</option>
                </select>
                <div id="avgnumbertrackdiv"></div>
                <h4>Flujo promedio trayecto</h4>
                <p>Seleccione el tipo de gráfico</p>
                <select class="form-control" onchange="changefluxtrack()" id="fluxtrackselect">
                    <option disabled selected>Tipo</option>
                    <option value="PIE">Gráfico de torta</option>
                    <option value="BAR">Gráfico de barras</option>
                </select>
                <div id="fluxtrackdiv"></div>
            </div>
		</div>
  	</div>
{% endblock content %}

{% block scripts %}

    <script>
        function changeavgnumbertrack() {
            var opt = $("#avgnumbertrackselect").val();
            if (opt == "PIE") {
                $("#avgnumbertrackdiv").html("<img alt='pieChart' class='img-responsive' src='{% url 'CicloviaProgram:pieChart' %}?data=avgnumbertrack&results_id={{results.id}}'>");
            } else if (opt == "BAR") {
                $("#avgnumbertrackdiv").html("<img alt='barChart' class='img-responsive' src='{% url 'CicloviaProgram:vBarChart' %}?data=avgnumbertrack&results_id={{results.id}}'>");
            }
        }
        function changefluxtrack() {
            var opt = $("#fluxtrackselect").val();
            if (opt == "PIE") {
                $("#fluxtrackdiv").html("<img alt='pieChart' class='img-responsive' src='{% url 'CicloviaProgram:pieChart' %}?data=flux&results_id={{results.id}}'>");
            } else if (opt == "BAR") {
                $("#fluxtrackdiv").html("<img alt='barChart' class='img-responsive' src='{% url 'CicloviaProgram:vBarChart' %}?data=flux&results_id={{results.id}}'>");
            }
        }
    </script>

{% endblock scripts %}





